# ----------------------------------------
# 敏感/機密檔案 (CRITICAL SECURITY)
# ----------------------------------------
.env
USERNAME_1
PASSWORD_1
USERNAME_2
PASSWORD_2

# ----------------------------------------
# Python 環境與編譯檔案
# ----------------------------------------
__pycache__/
*.pyc
venv/
.venv/

# ----------------------------------------
# 輸出目錄與暫存檔案 (大型檔案或自動生成檔案)
# ----------------------------------------
dist/            # 靜態檔案輸出目錄
/tmp/            # 暫存資料夾
anime_cache.json # 快取檔案